@use "mixins" as mix;

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__input {
    font-size: 25px;
  }

  &__btn {
    font-size: 25px;

    @include mix.buttonStyle;
  }
}

.ul-items {
  &__item {
    display: flex;
    gap: 70px;
    justify-content: space-evenly;
    align-items: center;
    background-color: peachpuff;
    width: 100%;
    border: solid white 3px;

    &--checkbox {
      font-size: 25px;
    }

    &--btn {
      display: flex;

      font-size: 25px;
      @include mix.buttonStyle;
    }
  }
}
